API_NAME="netflix_trend_participant"
AGGREGATOR_DATASITE="aggregator@openmined.org"
NETFLIX_EMAIL="<your-netflix-email@provider.com>"
NETFLIX_PASSWORD="<your-password>"
NETFLIX_PROFILE="<profile-name>"
OUTPUT_DIR="~/Downloads/"
DATA_PATH="~/Downloads/NetflixViewingHistory.csv"